.partners {
  display: flex;
  flex-direction: column;

  gap: 30px;

  @include onTablet {
    gap: 100px;
  }

  &__rows {
    display: flex;
    flex-direction: column;

    overflow-x: clip;
    -webkit-mask: linear-gradient(90deg, transparent, white 10%, white 90%, transparent);
    mask: linear-gradient(90deg, transparent, white 10%, white 90%, transparent);

    gap: 70px;

    @include onTablet {
      gap: 100px;
    }

    @include onBigTablet {
      gap: 150px;
    }
  }

  &__row {
    --row-gap: 50px;

    display: flex;
    gap: var(--row-gap);
    width: fit-content;

    padding: 0;
    list-style-type: none;

    animation: moveLeft 30s linear infinite;

    @include onTablet {
      --row-gap: 100px;
    }

    @include onBigTablet {
      --row-gap: 150px;
    }

    &--2 {
      animation: moveRight 30s linear infinite;
      align-self: flex-end;
    }
  }

  &__partner {
    width: 35vw !important;
    height: 7vw;

    background-size: contain;
    background-repeat: no-repeat;

    @include onTablet {
      width: 20vw !important;
      height: 4vw;
    }

    @for $partner from 1 through 24 {
      &--#{$partner} {
        background-image: url('../../../public/images/partners/p#{$partner}.png');
      }
    }
  }
}

.rows {
  display: flex;
  flex-direction: column;
  gap: 70px;

  @include onTablet {
    gap: 100px;
  }

  @include onBigTablet {
    gap: 150px;
  }
}

@keyframes moveLeft {
  to { transform: translateX(calc(-50% - (.5 * var(--row-gap)))); }
}

@keyframes moveRight {
  to { transform: translateX(calc(50% + (.5 * var(--row-gap)))); }
}