.faq {
  display: flex;
  flex-direction: column;

  @include onTablet {
    gap: 30px;
  }

  @include onBigTablet {
    gap: 70px;
  }

  &__questions {
    display: flex;
    flex-direction: column;
    gap: 16px;

    align-self: flex-start;
  }
}