.video-reviews {
  display: flex;
  flex-direction: column;
  gap: 50px;

  align-items: center;

  @include onTablet {
    gap: 70px;
  }

  @include onDesktop {
    gap: 100px;
  }

  &__scroller {
    width: 90vw;
    height: 80vh;

    display: flex;
    justify-content: center;
    align-items: center;

    @include onTablet {
      justify-content: space-between;
    }
  }

  &__arrow {
    @include arrow;
    cursor: pointer;
    
    border: none;
    background-color: transparent;

    &--next {
      transform: rotate(180deg);
    }
  }

  &__video {
    width: 80vw;
    height: 80vh;

    border-radius: 10%;

    @include onBigTablet {
      height: 90vh;
      width: 50vw;
    }
  }
}

.loading {
  display: none;
}